.download-text {
  font-size: 1.1em;
  font-weight: 500;  
}

.left-h1 h1 {
  text-align: left;
  font-size: 2.5em;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.center-h1 h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5em;
}

.center-h2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.center-h3 h3 {
  text-align: center;
}

.center-h4 h4 {
  text-align: center;
}

.center-h5 h5 {
  text-align: center;
}

.justify {
  text-align: justify !important
}

.center {
  text-align: center !important
}

.left {
  text-align: left !important
}

.huge {
  font-size: 22px;
}

.largest {
  font-size: 18px;
}

.larger {
  font-size: 16px;
}

.large {
  font-size: 14px;
}

.normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.small {
  font-size: 10px;
}

.smaller {
  font-size: 8px;
}

a:link { 
  text-decoration: none;
}

/*-- footer styles --*/

.footer-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-top: 2.5em;
}

.footer-text h3, .h3 {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0px;
}

.footer-text p, .p {
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a {
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a:hover {
  font-size: .875rem;
  font-weight: 400;
}

.footer-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em; 
  box-sizing: border-box;
}

/*-- navbar styles --*/

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.navbar {
  border: none;
  border-bottom: 2px solid #565656 !important;
  color: #565656;
}

/*-- background styles --*/

.hero-banner {
  position: relative;
  background-color: #c1e0e2;
  display: flex;
  justify-content: center;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: #fff6f6;
}

.blue-background {
  background-color: #c1e0e2;
}

/*-- fun styles --*/

.card-link {
    background-color: #c1e0e2;
    color: #565656;
    border: 2px solid #565656;
    border-color: #565656;
    padding: 1px .5rem 1px .5rem !important;
    margin: 0;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;  
}

.card-link:hover {
  background-color: #F18661;
  color: #565656;
}