/* css styles */

.center-h1 h1 {
  text-align: center;
}

.center-h2 h2 {
  text-align: center;
}

.center-h3 h3 {
  text-align: center;
}

.center-h4 h4 {
  text-align: center;
}

.center-h5 h5 {
  text-align: center;
}

.justify {
  text-align: justify !important
}

.center {
  text-align: center !important
}

.huge {
  font-size: 22px;
}

.largest {
  font-size: 18px;
}

.larger {
  font-size: 16px;
}

.large {
  font-size: 14px;
}

.normal {
  font-size: 12px;
}

.small {
  font-size: 10px;
}

.smaller {
  font-size: 8px;
}